<div class="page-wrapper">
  <!-- header -->
    <header class="text-center">
      <h1 class="text-center">YP ICI - Incubation, Consulting, Investor Relations</h1>
      <%= image_tag("fotolia_32560301_xs.jpg", :size => "424x283", :alt => "", :class => "polaroid") %>
      <nav class="main-nav">
        <ul id="unstyled">
          <li id="welcome_tab">Willkomen</li>
          <li id="team_tab">Team</li>
          <li id="partner_tab">Partner</li>
          <li id="contact_tab">Kontakt</li>
        </ul>
      </nav>
    </header>
  <!-- page-contact -->
    <section class="main-content">
      <%= render 'shared/welcome' %>
    </section>
</div>