<div id="wrapper">
  <div id="ipad-frame-top">
    <%= image_tag("ipad-frame-top.png", :alt => "") %>
  </div>
      
      <div id="ipad-frame-body">
      
        <div class="page-wrapper">
        
          <!-- header -->
          <header class="text-center">
            <h1 class="text-center">Kontakt - YP Media Solutions</h1>
            <%= link_to image_tag("banner.jpg", :size => "424x254", :alt => ""), "http://young-professionals.co/" %>
            <nav class="main-nav">
              <ul class="unstyled">
                <li><a id="tab001">Team</a></li>
                <li><a id="tab002">Leistungen</a></li>
                <li><a id="tab003">Referenzen</a></li>
                <li><a id="tab004">Kontakt</a></li>
              </ul>
            </nav>
          </header>

          <section id="page-services" class="main-content">
            <%= render 'shared/team' %>
          </section>
        </div>
      </div>

  <div id="ipad-frame-bottom">
    <%= image_tag("ipad-frame-bottom.png", :alt => "") %>
  </div>
</div>