<section id="page-partner">              
    <p>
        Die Young Professionals arbeiten eng mit der baden-württembergischen Steinbeis -Stiftung zusammen, so dass StartUps von einer starken Partnerschaft profitieren können.                
    </p>
    <%= image_tag("bild3.jpg", :alt => "") %>
    <h2>Das optimale Programm für eine erfolgreiche Gründung:</h2>
    <ul id="styled_list">
        <li>Umfangreiche Gründungsberatung durch YP</li><br/>
        <li>Unterstützung bei der Suche nach Kapitalgebern</li><br/>
        <li>Unterstützung bei der Bewerbung um Innovationsgutscheine des Landes Baden-Württemberg für <a href="https://www.innovationsgutscheine.de/">Hightech-Gründer</a></li><br/>
        <li>Möglichkeit der Rückerstattung der Beratungskosten für eine Vorgründungsberatung bis 5.000€ aus Mitteln des ESF-Förderprogramms EXI (<a href="http://www.stw-beratung.de/kompetenzen/steinbeis-exi-gutschein.html">20% Selbstbeteiligung</a>)</li>
    </ul>               
</section>