<table>
        <tr>
          <td>Projektname</td>
          <td>Lauda Königshofen <%= link_to "(zur Webseite)", "http://www.facebook.com/laudakoenigshofen/", :target => "_blank" %>
          </td>
        </tr>
        <tr>
          <td>Projektart</td>
          <td>Aufbau einer Fanseite</td>
        </tr>
        <tr>
          <td>Leistungen</td>
          <td>Konzeption, Aufbau & Pflege</td>
        </tr>
        <tr>
          <td>Tags</td>
          <td>Content & Community Managment</td>
        </tr>                   
      </table>