<table>
        <tr>
          <td>Projektname</td>
          <td>Nash-Club <%= link_to "(zur Webseite)", "http://www.nash-club.de/", :target => "_blank" %>
          </td>
        </tr>
        <tr>
          <td>Projektart</td>
          <td>Ausarbeitung eines Corporate Design</td>
        </tr>
        <tr>
          <td>Leistungen</td>
          <td>Grafik- und Webdesign</td>
        </tr>
        <tr>
          <td>Tags</td>
          <td>Design, Webdevelopment, Logoerstellung</td>
        </tr>                   
      </table>