<table>
        <tr>
          <td>Projektname</td>
          <td>Lauda Königshofen <a href="http://www.facebook.com/laudakoenigshofen/" target="_blank">(zur Website)</a></td>
        </tr>
        <tr>
          <td>Projektart</td>
          <td>Aufbau einer Fanseite</td>
        </tr>
        <tr>
          <td>Leistungen</td>
          <td>Konzeption, Aufbau & Pflege</td>
        </tr>
        <tr>
          <td>Tags</td>
          <td>Content & Community Managment</td>
        </tr>                   
      </table>