<table>
        <tr>
          <td>Projektname</td>
          <td>Nash-Club <a href="http://www.nash-club.de/" target="_blank">(zur Website)</a></td>
        </tr>
        <tr>
          <td>Projektart</td>
          <td>Ausarbeitung eines Corporate Design</td>
        </tr>
        <tr>
          <td>Leistungen</td>
          <td>Grafik- und Webdesign</td>
        </tr>
        <tr>
          <td>Tags</td>
          <td>Design, Webdevelopment, Logoerstellung</td>
        </tr>                   
      </table>