<table>
        <tr>
          <td>Projektname</td>
          <td>Kanzlei Lexa <a href="http://www.facebook.com/kanzlei.lexa/" target="_blank">(zur Website)</a></td>
        </tr>
        <tr>
          <td>Projektart</td>
          <td>vertraulich</td>
        </tr>
        <tr>
          <td>Leistungen</td>
          <td>vertraulich</td>
        </tr>
        <tr>
          <td>Tags</td>
          <td>Content Management</td>
        </tr>                   
      </table>   