<section id="page-team">
  <article>
    <%= image_tag("bild1-u1003.jpg", :size => "112x121", :alt => "", :class => "polaroid") %>
    <div>
      <h2>Gero Gode</h2>
      <p>
        ist CEO des Rabattportals biodeals.de Zuvor f&uuml;hrte er das StartUp Teambon erfolgreich zum Exit an DailyDeal (heute Google) und war anschließend ein halbes Jahr lang dessen CMO.
      </p>
    </div>
  </article>
  <article>
    <%= image_tag("bild2.jpg", :size => "112x121", :alt => "", :class => "polaroid") %> 
    <div>
      <h2>Julius Knoche</h2>
      <p>
        ist Founding Partner des Technologie-Inkubators stealth.vc sowie Aufsichtsrat der Erecon AG welche im Bereich der Verbesserung der Energieeffizienz von Rechenzentren tätig ist.
      </p>
    </div>
  </article>
</section>