
            <article>
              <%= link_to image_tag("team_lukas-pollmann.jpg", :alt => "", :class => "polaroid"), "https://www.xing.com/profile/Lukas_Pollmann3?sc_o=mxb_p" %>
              <div class="team_entry">
                <h2>Der Denker</h2>
                <p>
                  Lukas Pollmann ist der „Design Thinker“ innerhalb von YP. Neben seinem Studium der Wirtschaftswissenschaften 
                  ist er in diversen Funktionen als Freelancer für die europäische Union wie auch verschiedene Konzerne tätig. 
                  Sein Fokus als YP liegt derzeit in der Frontend-Gestaltung.
                </p>
              </div>
            </article>
            <article>
              <%= link_to image_tag("team_lukas-mauritz.jpg", :alt => "", :class => "polaroid"), "https://www.xing.com/profile/Lukas_Mauritz" %>
              <div class="team_entry">
                <h2>Der Texter</h2>
                <p>
                  Lukas Mauritz verfügt über langjährige Erfahrung in verschiedenen Bereichen der IT und Öffentlichkeitsarbeit.
                  Neben seiner Tätigkeit als Werbetexter war er für verschiedenste Kampagnen von Guerilla bis Onlinemarketing 
                  auf Verbands- bis Unternehmensebene verantwortlich.
                </p>
              </div>
            </article>
            <article>
              <%= image_tag("team_sonstige.png", :alt => "", :class => "polaroid") %>
              <div class="team_entry">
                <h2>Der Coder und die Gestalter</h2>
                <p>
                  Derzeit arbeiten mehrere Designer und Webdeveloper als YPs. Deren Ausbildung reicht vom Mediendesigner für 
                  Digital- und Printmedien bis zu laufenden Studien der Informatik. Zusätzliche berufliche Erfahrungen im 
                  Online-Marketing und der Suchmaschinenoptimierung runden das Team  ab.
                </p>
              </div>
            </article> 