<section id="page-home">
  <p>
    Bestehend aus den Young Professionals welche zuvor bereits StartUps und junge Unternehmen betreut oder auch selbst gegr&uuml;ndet und erfolgreich verkauft haben, hat ICI die Zielsetzung, Gr&uuml;ndern und jungen Unternehmern bei Kapitalbeschaffungen zu helfen.
  </p>
  <h2>Angebotene Leistungen sind beispielsweise:</h2>
  <ul id="styled_list">
    <li>Staatlich gef&ouml;rderte Vorgr&uuml;ndungsberatung (Mediation des Vorhabens, Marktanalysen…)</li><br/>
    <li>Korrekturlesung und Aufarbeitung von Business-Pl&auml;nen</li><br/>
    <li>Ausarbeitung von Investorenpitches und entsprechender Unterlagen</li><br/>
    <li>Durchf&uuml;hrung von Due Dilligences</li><br/>
    <li>Bewerbung des Vorhabens gegenüber Kapitalgebern aus unseren eigenen Netzwerken</li>
  </ul>         
</section>